.container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  width: 1144px;
  background-color: #ffffff;
  padding: 30px;
}

.container li {
  list-style: none;
}
